<!-- Blog Section -->
<section id="blog" class="blog-section light-section dark-content">
  <div class="container">
    <h1 class="special-heading dark-special">Recent Blog Posts</h1>

    <div class="row">
      <div class="col-sm-4 post-col">
        <figure><img src="assets/post1.jpg" alt=""></figure>
        <h2>New Kid in Town: Derek Scruggs</h2>
        <p>We started talking with Derek Scruggs in June as he was rolling off a project. Here’s how he describes our first Skype call:
        "The first thing I noticed is how honest you were. The company is doing well, and that’s attractive, but you frankly acknowledged...”</p>
        <a target="_blank" href="http://staunchrobots.herokuapp.com/blog/?p=94" class="btn read-more">Read More</a>
      </div>
      <div class="col-sm-4 post-col">
        <figure><img src="assets/post2.jpg" alt=""></figure>
        <h2> Todd Morrill Bares All (mostly)</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, molestias, repellat, animi, fugit aliquid fuga saepe nisi quasi debitis voluptate odit beatae atque tempora ad excepturi nemo velit obcaecati vitae.</p>
        <a target="_blank" href="http://staunchrobots.herokuapp.com/blog/?p=79" class="btn read-more">Read More</a>
      </div>
      <div class="col-sm-4 post-col">
        <figure><img src="assets/post3.jpg" alt=""></figure>
        <h2>Book Review: The Alliance</h2>
        <p>The Alliance: Managing Talent in the Networked Age is the latest from LinkedIn founder-CEO Reid Hoffman, Ben Casnocha and Chris Yeh. Hoffman and Canocha previously collaborated on The Startup of You, and this book is sort of the yin to the first one’s yang.</p>
        <a target="_blank" href="http://staunchrobots.herokuapp.com/blog/?p=83" class="btn read-more">Read More</a>
      </div>
    </div>

    <a href="/blog" class="btn btn-outline btn-darkblue more-blog">Read Our Blog</a>

  </div>
</section>
<!-- End of Blog Section -->