<!-- Welcome Section -->
<section id="welcome" class="full parallax welcome-section photo-section dark-section light-content parallax">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="content-wrapper preload">
      <div class="welcome-content">
        <div class="overlay">
          <article>
            <%= image_tag "white1.png"%>
          </article>
        </div>
        <h2 class="sub"> Connecting stellar geeks with growing companies </h2>
        <div class="box col-xs-12">
          <div class="white">
            <h1 class="special-heading light-special">Clients</h1>  
          </div>
          <div class="orange">
            <h1 class="special-heading light-special">Developers</h1>    
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of the Welcome Section -->

<section id="portfolio">
  <div class="container">
    <h1>hello there</h1>
  </div>
</section>