<section id="welcome">
  <div class="container"> 
    <div class="text-center">
      <h1>Thanks for sign up</h1>
      <p>Thank you for your interest in Staunch Robots. You should receive an email confirmation from us shortly</p>  
    </div>
  </div>
</section>