<section class="contact-section dark-content login">
  <div class="container signup">
    <h1>In order to talk with you; before granting you full access our developer database. Please fill out the bellow form and we will be in touch within a couple of hours</h1>

    <div class="row">
      <%= render 'layouts/error_messages', object: @user %>
      <% flash.each do |key, value| %>
        <div class="alert alert-info alert-dismissible">
          <div class="alert-text">
              <%= value %>
            </div>
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    
    <div id="contact-form" class="row">

      <div class="col-md-8 col-md-offset-2">

        <div id="result"></div>

        <form accept-charset="UTF-8" action="/users" id="new_user" method="post" class="new_user contact-form">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label class="col-md-1 control-label">*</label>
                <input type="email" class="form-control input-lg" name="user[email]" id="user_email" placeholder="Email" required>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label class="col-md-1 control-label">*</label>
                <input type="password" class="form-control input-lg" name="user[password]" id="user_password" placeholder="Password" requiered>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label class="col-md-1 control-label">*</label>
                <input type="password" class="form-control input-lg" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Password confirmation" requiered>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="user[company]" id="user_company" placeholder="Company Name">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="user[name]" id="user_name" placeholder="Your Name">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="user[skype]" id="user_skype" placeholder="Skype username">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input rows='4' type="text" class="form-control input-lg" name="user[phone]" id="user_phone" placeholder="Phone Number">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <textarea class="form-control input-lg" name="user[company]" id="user_company" placeholder="Put your comments here..."></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 forgot text-left">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
          <div class="form-group log-btn col-md-8 col-md-offset-2">
            <button id="submit_btn" type="submit" class="btn btn-outline btn-big ">Apply for access</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>