<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Schedule an interview with <%= @cv.name %> </h3>
    </div>
    <div class="modal-body">
      <div class="col-xs-12">

        <form accept-charset="UTF-8" data-remote="true" action="cvs/interview_mail" id="new_interview_message" method="post" class="new_interview_message contact">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Your name <b>(required)</b>
                  <input type="text" name="interview_message[name]" id="message_name" placeholder="John Stuart">
              </label>
            </div>
            <div class="col-sm-6 form-group required">
              <label class="required" for="name">
                  Company name <b>(required)</b>
                  <input type="text" name="interview_message[company_name]" id="message_company_name" placeholder="Google" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="email">
                  Email <b>(required)</b>
                  <input type="email" name="interview_message[email]" id="message_email" placeholder="John@Stuart.com" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label class="required">
              Project description <b>(required)</b>
                <textarea id="message_body" name="interview_message[body]" rows="4" placeholder="I have a project idea..." required></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Time frame to start
                  <select name="interview_message[start_time]" id="message_start_time">
                    <option value="Immediately">Immediately</option>
                    <option value="2 Weeks">2 Weeks</option>
                    <option value="1 Month">1 Month</option>
                    <option value="More than 1 month">More than 1 month</option>
                  </select>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="required" for="name">
                  Time zone
                  <input type="text" name="interview_message[time_zone]" id="message_time_zone" placeholder="EST – Eastern Standard Time">
              </label>
            </div>
            <div class="col-sm-6 hidden">
              <label class="required" for="name">
                  Developer
                  <input type="text" name="interview_message[developer]" id="message_developer" value="<%= @cv.name %>">
              </label>
            </div>
          </div>
          <div class="add-sm-top text-center">
            <button class="btn btn-primary" type="submit"><i class="fa fa-envelope"></i> &nbsp; Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>  
  </div>
</div>