/* ==========================================================================
   Portfolio Section
   ========================================================================== */

.about-section {
  height: auto;
  min-width: 100%;
  text-align: center;
  .special-heading {
    margin-bottom: 50px;  
  }
  .add-top-half {
    .promo-text {
      margin-bottom: 1em;
    }
    h2 {
      font-size: 21pt;
      text-align: center;
      line-height: 60px;
      color: black;
    }
    .video {
      img {
        width: 100%;
      }
    }
    .robot {
      text-align: center;
      img {
        width: 40%;
      }
    }
  }
}

ul.about-us-list{
  list-style: none;
  padding: 0;
}
ul.about-us-list li{
  background:  url(image_path('logo-as-bullet-24x24.png')) no-repeat 7px 7px;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 1px 40px;
  vertical-align: middle;
  text-align:left;
  font-size: 12pt;
  margin-bottom:.5em;
}


h3#about-headline{
  margin: 0;
  margin-bottom: 10px;
  line-height:32px
}

div#about-text p {
  margin-bottom:0;
}
.about-section2 {
  font-family: 'DroidSerif';
  height: auto;
  min-width: 100%;
  text-align: center;
  .special-heading {
    margin-bottom: 50px;  
  }
  .add-top-half {
    margin-bottom: 8em;
    .col-md-10 {
      margin-left: 4em;
    }
    .content {
      float: right;
      p {
        line-height: 1.6;
        margin-bottom: 1em;
        text-align: justify;
      }
    }
    h2 {
      font-size: 39pt;
      text-align: center;
      line-height: 60px;
      margin-bottom: 0.5em;
    }
    h3 {
      margin-bottom: 1em;
      font-size: 21pt
    }
    p {
      font-size: 12pt;
    }
    article {
      #map-img {
        width: 100%;
      }
    }
    .video {
      margin-top: 20px;
      padding-left: 0;
    }
    .media {
      img {
        margin-right: 10px;
      }
    }
  }
}

.wrapper{
  position: relative;
  margin: 0 auto 0 auto;
  margin-top: 8em;
  width: 978px;
  text-align: left;
  .cultures {
    margin: 0 0 -20px 0;
    img {
      float: left;
      display: block;
      border: 4px solid #08080B;
      margin: 0 0 0 -91px;
      -webkit-transition: -webkit-transform .2s ease-in-out;
      -moz-transition: -moz-transform .2s ease-in-out;
      -ms-transition: -ms-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
    }
    img:first-child {
      margin-left: 4em;
    }
  }
}
img.leo{
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
img.todd{
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
img.office{
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
img.pair{
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}



/* =====================================================
   Media Querys
   ===================================================== */

@media (min-width: 1200px) {
  .about-section {
    .container {
      width: 1280px;
    }
  }
}
@media screen and (max-width: 830px) {
  .about-section {
    .add-top-half {
      h2 {
        font-size: 21pt;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .about-section {
    .add-top-half {
      h2 {
        font-size: 28pt;
      }
    }
  }
}

