/* ==========================================================================
   Portfolio Section
   ========================================================================== */

.about-section {
  height: auto;
  min-width: 100%;
  text-align: center;
  .special-heading {
    margin-bottom: 50px;  
  }
  .add-top-half {
    .promo-text {
      margin-bottom: 1em;
    }
    h2 {
      font-size: 39pt;
      text-align: center;
      line-height: 60px;
    }
    .arrow {
      text-align: center;
      img {
        width: 40%;
      }
    }
  }
}

/* =====================================================
   Media Querys
   ===================================================== */

@media (min-width: 1200px) {
  .about-section {
    .container {
      width: 1280px;
    }
  }
}
@media screen and (max-width: 830px) {
  .about-section {
    .add-top-half {
      h2 {
        font-size: 21pt;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .about-section {
    .add-top-half {
      h2 {
        font-size: 28pt;
      }
    }
  }
}

