/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require elementTransitions 
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//Custom Fonts

@font-face {
  font-family: "BreeSerif-Regular";
  src: url(../assets/BreeSerif-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif";
  src: url(../assets/Droid/DroidSerif-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DroidSerif";
  src: url(../assets/Droid/DroidSerif-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif";
  src: url(../assets/Droid/DroidSerif-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "DroidSerif";
  src: url(../assets/Droid/DroidSerif-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans";
  src: url(../assets/Museo/MuseoSans_700.otf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans";
  src: url(../assets/Museo/MuseoSans_500.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
}