#cvs {
  padding-bottom: 2em;
  .title {
    margin-top: 1em;
    text-align: center;
  }
  h3 {
    color: #727272 !important;
    font-weight: 500;
  }
  .logo {
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    img {
      width: 70%;
    }
  }
}

.developers {
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }
  .navbar2 {
    background-color: #2C2F46;
    .navbar-collapse {
      margin-bottom: 1em !important;
      margin-top: 1em !important;
    }
  }
  .orange {
    float: right;
    margin-left: 2em;
    border-color: #f17a2e;
    background-color: #f17a2e;
    color: #2C2F46;
    font-size: 1em;
  }
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px !important;
  @include box_sizing;
}

.help-inline {
  display: none !important;
}

input {
  height: auto !important;
}


// Cv Styles

#cvs {
  .developer {
    background-color: rgb(221, 216, 216);
    .container {
      background-color: #E7E6E6;
      box-shadow: 0 4px 12px rgba(36, 35, 35, 1);
      color: #4b4b4b;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      h1 {
        color: #D57B1A;
        font-size: 2.5em;
        text-align: left;
      }
    }
    #body_content {
      margin-top: 2em;
    }
  }
}

.cv-form {
  div {
    margin-bottom: 0.865em;
  }
}
.name{
  margin-top: 2em;
  h1 {
    color: black !important;
    font-size: 130px !important;
    margin-right: 0.4em;
    font-family: "Droid Serif", serif;
    font-weight: bold;
    text-align: right !important;
  }
}
.profile{
  margin: 0 3em;
  h1{
    font-size: 2.5em;
  }
  p {
    margin-left: 40px;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: justify;
  }
}
.projects{
  margin: 0 3em;
  margin-bottom: 2em;
  ul {
    font-weight: 100;
  }
  h3 {
    margin-bottom: 8px;
    a {
      color: #727272 !important;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .tech_stack {
    color: #3F3E3E;
    font-size: 16px;
    b {
      float: left;
      margin-right: 0.5em;
    } 
    li {
      float: left;
      position: relative;
      margin-left: 1em;
      list-style: initial;
      text-indent: -8px;
    }
  }
}
.projects .projectName{
    color: #727272;
    font-size: 30px;
    font-family: "Droid Serif", serif;
}
.projects .projectUrl{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.projects .projectInteresting{
  list-style-type: none;
  margin-top: 1em;
  li {
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 0.5em;
  }
  li:before {
    color: #D57B1A;
    content: "■";
    font-size: 1.5em;
  } 
}


.experiences {
  color: black !important;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 1em;
  text-align: left;
}
.education{
  h3 {
    font-size: 14pt;
    margin-bottom: 0;
  }
  p{
    color: #D57B1A !important;
    font-size: 12pt;
  }
}
.skill {
  margin-bottom: 1em;
  margin-top: 2em;
  p {
    font-weight: 100;
    float: left;
    margin-right: 5px;
    position: relative;
  }
}
.language {
  p {
    font-weight: 100;
    float: left;
    margin-bottom: 0;
  }
  .lg {
    margin-bottom: 0;
  }
  p:after {
    color: #D57B1A;
    content: "■";
    font-size: 1.5em;
    vertical-align: middle;
  }
}
.codeSample {
  ul {
    padding-left: 0;
  }
  p {
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.photo {
  margin-top: 2em;
  text-align: center;
  img {
    width: 70%;
    -webkit-border-radius: 7em;
    -moz-border-radius: 7em;
    border-radius: 7em;
  }
}

.title{
  color: #727272;
  font-size: 2.5em;
  font-family: "Droid Serif", serif;
  text-align: center;
  line-height: 50px;
}
.toolbox{
}

.rightPart{
  border-left: 4px dashed #D57B1A;
  // border-style: none dashed none none;
  margin-bottom: 5px;
  margin-top: 10px;
  h1{
    font-size: 2em !important;  
  }
}

.sectionTitle {
  text-align: left !important;
  font-weight: bold !important;
  color: #D57B1A !important;
  font-family: "Droid Serif", serif !important;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.sectionContent{
  padding-left: 30px;
}
.section {
  text-align: justify;
}

// Index

.cards {
  margin-top: 2em;
  img {
    width: 100%;
  }
  .card {
    padding-right: 2px !important;
    padding-left: 2px !important;
  }
  .view {
    a {
      color: white;
    }
  }
}
