//Keyframes
@-moz-keyframes dropHeader {
  0% {
      -moz-transform: translateX(-40px);
      opacity: 0;
  }
  100% {
      -moz-transform: translateX(0);
      opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dropHeader {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes dropTitle {
  0% {
    -moz-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes dropTitle {
  0% {
    -webkit-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropTitle {
  0% {
    transform: translateY(-40px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes bounce {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0px;
  }
}