/* ==========================================================================
   General Styles
   ========================================================================== */
body {
  font-family: 'DroidSerif';
  font-size: 16px;
  line-height: 1.75;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-x: hidden;
}
a {
  color: #32425a;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  text-decoration: none;
  color: #d9a13f;
}
::selection {
  color: #fff;
  background: #d9a13f;
}
::-moz-selection {
  color: #fff;
  background: #d9a13f;
}

/* ---------- SECTION STYLES ---------- */
.sub{
  margin-bottom: 1em;
}
.light-section {
  background-color: #fff;
  padding: 120px 0;
  overflow: hidden;
}
.inner-liner{
  width: 40px;
  height: 2px;
  margin-bottom: 20px;
}
.inner-liner.dark{
  background: black;
}
.dark-section {
  background-color: #32425a;
  padding: 120px 0;
  overflow: hidden;
}
.light-content {
  color: #fff;
}
.dark-content {
  color: #444;
}
.photo-section {
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  overflow: hidden;
}
.bg-overlay {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #32425a;
}
.section-description {
  font-family: 'DroidSerif';
  font-size: 16pt;
  line-height: 1.2em;
  margin-bottom: 50px;
}
.btn-outline {
  border: 2px solid #32425a !important;
  border-radius: 0 !important;  
  color: #32425a;
  font-weight: 600 !important;
  font-size: 1.5em !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; 
}
.btn-outline:hover {
  background-color: #232f40;
  color: white !important;
}

/* ---------- SPECIALS ---------- */
.special-heading {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21pt;
  margin: 0;
  padding: 5px 10px;
  border: 3px solid;
  display: inline-block;
  position: relative;
}
.special-heading:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  background: none;
  border-color: transparent;
}
.special-box {
  border: 3px solid #ffc400;
  border-radius: 0px;
  width: 260px;
  padding: 20px 65px 20px 57px;
}
.light-special {
  color: #fff;
  border-color: #fff;
}
.light-special:after {
  border-top-color: #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.dark-special {
  color: #32425a;
  border-color: #32425a;
}
.dark-special:after {
  border-top-color: #32425a;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar {
  display: none;
  padding: 20px 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  border: none;
  margin-bottom: 0;
  min-height: 0;
}
.navbar-fixed-top {
  border-bottom: none !important;
}
.minified {
  padding: 5px 0;
}
.minified .navbar-brand {
  height: auto !important;
}
img.logo {
  width: 100%
}
.darken-menu {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.dark-menu {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.navbar-header {
  display: table;
  width: 20%;
}
.navbar-header .navbar-brand {
  display: table-cell;
  vertical-align: middle;
  float: left;
  padding: 0;
  height: 50px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin: 0;
}
.navbar-toggle {
  margin: 0;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-nav {
  float: none;
  font-size: 1em;
  color: #fff;
  text-align: center;
}
.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  background: none;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#my-nav {
  float: right;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
  background-color: inherit !important;
  color: #d9a13f;
  text-decoration: none;
}
.navbar-nav .active a {
  color: #d9a13f;
  background: none;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.navbar-nav .active a:hover,
.navbar-nav .active a:focus {
  color: #bf8726;
  background: none;
}

#twitter-nav {
  padding-left:4px
}

/* ----------- Home Section ----------- */
.welcome-section {
  background-image: image-url('planet_shaker.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-position: center; 
  background-color: white;
  height: auto;
  width: 100%;
  min-width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
  padding: 0 0 120px 0;
}

.welcome-section.full {
  height: 58em;
}

.welcome-section .overlay {
  img{
    position: relative;
    width: 100%;
  }
}
.welcome-section .bg-overlay {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  z-index: -1;
}
.welcome-section .container {
  height: 100%;
  display: block;
  z-index: 2;
}
.welcome-section .content-wrapper {
  height: 100%;
  display: table;
  margin: 0 auto;
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2{
    font-size: 3em;
    margin-top: 8px;
    margin-bottom: 20px;
    letter-spacing: 6px;
    line-height: 45px;
  }
}
.welcome-section .welcome-content {
  img{
    opacity: 0;
    -moz-animation: dropHeader 0.8s ease-in forwards; /* Firefox */
    -webkit-animation: dropHeader 0.8s ease-in forwards; /* Safari and Chrome */
    -o-animation: dropHeader 0.8s ease-in forwards; /* Opera */
    animation: dropHeader 0.8s ease-in forwards;
  }
  h2 {
    opacity: 0;
    -moz-animation: dropTitle 0.7s ease-in forwards; /* Firefox */
    -webkit-animation: dropTitle 0.7s ease-in forwards; /* Safari and Chrome */
    -o-animation: dropTitle 0.7s ease-in forwards; /* Opera */
    animation: dropTitle 0.7s ease-in forwards;
  }
  h1 {
    opacity: 0;
    -moz-animation: dropTitle 0.7s ease-in 1.1s forwards; /* Firefox */
    -webkit-animation: dropTitle 0.7s ease-in 1.1s forwards; /* Safari and Chrome */
    -o-animation: dropTitle 0.7s ease-in 1.1s forwards; /* Opera */
    animation: dropTitle 0.7s ease-in 1.1s forwards;
  }
}
.welcome-section .welcome-content {
  display: table-cell;
  max-width: 60em;
  padding-top: 6em;
  .box {
    margin-top: 9em;
  }
  .white {
    h1 {
      background-color: white;
      color: #f17a2e;
    }
  }
  .orange {
    h1{
      border-color: #f17a2e;
      background-color: #f17a2e;
      color: white;
    }
  }
}
.welcome-section .welcome-content p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.35em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: 40px;
}
.welcome-section .welcome-content h1 {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease 0s, opacity 1000ms, transform 1000ms;
  -moz-transition: background-color 0.6s ease 0s, opacity 1000ms, transform 1000ms;
  -o-transition: background-color 0.6s ease 0s, opacity 1000ms, transform 1000ms;
  transition: background-color 0.6s ease 0s, opacity 1000ms, transform 1000ms;
}
.welcome-section .special-box {
  position: relative;
  left: 8em;
  top: 0px;
  bottom: 0px;
  width: 260px;
  margin-top: 61px;
  margin-right: 14px;
  margin-left: 14px;
  padding-right: 28px;
  padding-left: 28px;
  float: left;
  clear: none;
  border-width: 3px;
  border-color: white;
  box-shadow: none;
}
.rotating-words {
  color: #d9a13f;
  display: block;
}

/* ==========================================================================
   Footer Section
   ========================================================================== */
.footer {
  width: 100%;
  min-width: 100%;
  text-align: center;
  padding: 60px 0;
  background-image: url(../assets/planet_shaker.jpg);
  background-size: cover;
  background-position-y: 18em;
  position: relative;
  z-index: 0;
}
.footer .bg-overlay {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  z-index: -1;
}
.footer p {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}
.footer .social-icons {
  margin-bottom: 8px;
}
