//User Styles

//Customs
.log-btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.forgot {
  margin-bottom: 1em;
}

.login-form {
  margin-top: 75px;
  .left {
    padding-left: 0;    
  }
}
.container.login-container {
  width: 1000px;
  h1 {
    font-size: 28pt;
    margin: 0;
    text-align: left;
  }
}

.signup {
  h1 {
    font-size: 28pt;
    text-align: left;
  }
}
.form-group {
  .control-label {
    position: absolute;
    left: -18px;
    top: 10px;
    font-size: 2em;
  }
}
