<!DOCTYPE html>
<html>
<head>
  <title>Staunch Robots</title>
  <link rel="canonical" href="http://staunchrobots.com" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,600,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-nav">

  <!-- Navigation Bar -->
  <div class="navbar navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#welcome"><img class="logo" src="assets/white1.png" alt=""></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <nav id="my-nav" class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li id="welcome-menu"><a href="#welcome">Home</a></li>
          <li id="about-menu"><a href="#about">About</a></li>
          <li id="testimonials-menu"><a href="#testimonials">Testimonials</a></li>
          <li id="portfolio-menu"><a href="#portfolio">Portfolio</a></li>
          <li id="team-menu"><a href="#team">Leadership</a></li>
          <li id="contact-menu"><a href="#contact">Contact</a></li>
          <li id="blog-menu"><a href="/blog">Blog</a></li>
          <li id="twitter-menu"><a href="http://twitter.com/staunchrobots" id="twitter-nav"><img src="assets/twitter-small.png" width="24" heigth="19"/></a></li>
        </ul>
      </nav><!--/.navbar-collapse -->

    </div>
  </div>
  <!-- End of Navigation Bar -->

  <div >
    <%= yield %>
  </div>
  
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/jquery.textrotator.min.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  
</body>
</html>
