<!DOCTYPE html>
<html>
<head>
  <title>StaunchrobotsPage</title>
  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-nav">

  <%= yield %>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/modernizr.custom.47152.js"></script>
  <script src="assets/modernizr-ie.js"></script>
  <script src="assets/jquery.textrotator.min.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/grid.js"></script>
  <script src="assets/jquery.nicescroll.min.js"></script>


</body>
</html>
