<!DOCTYPE html>
<html>
<head>
  <title>Staunch Robots</title>
  <link rel="canonical" href="http://www.staunchrobots.com" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,600,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-nav">

  <div class="et-wrapper" >
    <div class="navbar navbar-fixed-top">
      <div class="nav-container">
        <div class="navbar-header">
          <a class="navbar-brand link-to-home" href="#welcome" id="home-nav"><img class="logo" src="assets/white1.png" alt=""></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <nav id="my-nav" class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#welcome" class="link-to-home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Leadership</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="http://twitter.com/staunchrobots" id="twitter-nav"><img src="assets/twitter-small.png" width="24" heigth="19"/></a></li>
          </ul>
        </nav><!--/.navbar-collapse -->

      </div>
    </div>
    <!-- End of Navigation Bar -->
    
    <%= yield %>
  </div>
  
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/jquery.textrotator.min.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/jquery.nicescroll.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56602508-1', 'auto');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');

  </script>
</body>
</html>
